beautifulsoup4
click
lxml
matplotlib
netron
networkx
numpy
optimum
pandas
poetry
progress
pydot
pyment
requests
scipy
sphinx
sphinx-rtd-theme
SQLAlchemy
torch
torchaudio
torchinfo
torchvision
torchviz
treelib
