beautifulsoup4
lxml
matplotlib
netron
networkx
numpy
optimum
pandas
poetry
progress
pydot
requests
scipy
sphinx
sphinx-rtd-theme
tensorflow
threadpoolctl
torch
torchaudio
torchinfo
torchvision
torchviz
treelib
